
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    text-align:center;
    margin:20px;
}

h1{
    color:#333;
}

section{
    background:white;
    width:80%;
    max-width:700px;
    margin:25px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

/* ===========================
   DISCO DE NEWTON
=========================== */

.disco{
    width:220px;
    height:220px;
    margin:20px auto;
    border-radius:50%;
    border:4px solid #000;

    background:conic-gradient(
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red
    );

    animation:girar .5s linear infinite;
}

@keyframes girar{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

/* ===========================
   LED FADE
=========================== */

#led{

    width:90px;
    height:90px;
    margin:20px auto;

    border-radius:50%;

    background:#00ff00;

    animation:fade 2s infinite alternate;

}

@keyframes fade{

    from{
        opacity:.2;
        box-shadow:0 0 5px #00ff00;
    }

    to{
        opacity:1;
        box-shadow:0 0 40px #00ff00;
    }

}

/* ===========================
   LED RGB
=========================== */

#rgb{

    width:90px;
    height:90px;

    margin:20px auto;

    border-radius:50%;

    background:red;

    transition:.6s;

}